#headersec {
    display: flex;
    padding-bottom: 10vh;
    position: relative;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffe600;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 10px;
    color: #ffffff;
}
#totalItem{
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}


.box h3, .box h4 {
    margin: 0;
}

.box h3 {
    font-size: 18px;
}

.box h4 {
    font-size: 16px;
}

.delivery-address {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.delivery-address p {
    margin: 5px 0;
}

.total-amount {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
}

.total-amount h3 {
    margin: 0;
    font-size: 20px;
}

.confirm-order-btn {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-order-btn:hover {
    background-color: #cc0000;
}
